<h3>Create question</h3>

<%= form_with model: @topic, url: topics_path, method: :post do |form| %>
<div>
	<%= form.label :topic %><br>
	<%= form.text_field :body %>
</div>
<div>
	<%= form.hidden_field :question_id, :value => @question.id %>
</div>
<div>
	<%= form.submit "Add topic" %>
</div>
<% end %>